.cmap {
    overflow: auto;
    position: relative;
    background: #eee;
}

.concept {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #0a0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.link{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:#eee;
}
.narrow-container{
    margin-top: 10%;
    max-width: 1000px;
    padding-right:30px;
    padding-left:30px; 
}
