@charset "utf-8";
/***************************
******* MAP  DRAWING *******
****************************/
.header{
	background-color:#3b5998;
}

.cmap-border {
	padding: 80px;
    border: solid 1px #f1f1f1;
    background: #fff;
    margin-bottom: 40px;
}

.cmap {
    overflow: visible;
    position: relative;
	margin: 0 auto;
}

.concept {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid gray;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.link{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:#fff;
}


/***************************
********* GENERAL  *********
****************************/
body{
	color: #767676;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-bottom: 200px;
}

a{
	text-decoration: none;
	color: #333333;
}

h1, h2, h3, h4{
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
}

button, .btn{
	font-family: 'Cabin', sans-serif;
	color: #fff;
	background-color: #3b5998;
	text-transform: uppercase;
	border: none;
	font-size: 18px;
}

button:hover, .browseBtn:hover, .btn:hover{
	color: #767676;
	border: solid 1px #f1f1f1;
	background-color: #fff;
	cursor: pointer;
}

/***header bar ***/
.header,
.header:hover{
	border-bottom: #efefef solid 1px;
	text-decoration: none;
}

.header h1{
	color: #3b5998;	
	font-size: 2.2em;
	font-weight: bold;	
	margin: 1em 0;
}

.table-header {
    color: #fff;
    padding: 10px;
}

.table-block {
    border-collapse: collapse;
    width: 100%;
    border: solid 1px lightgray;
    margin-bottom: 20px;
}

.table-row {
    display: block;
    width: 100%;
    border-bottom: solid 1px lightgray;
    text-decoration: none !important;
}

.table-collapse {
    background-color: lightgray;
    padding: 8px;
    color: #000;
}

.table-cell {
    text-align: center;
    display: inline-block;
    padding: 6px;
}

/***************************
******* UPLOAD  PAGE *******
****************************/

/***** welcome message *****/
.message{
	text-align: center;
	margin: 3.9em 0;
}

.message h1{
	font-size: 4em;
	margin-top: 0;
}

.message p{
	font-size: 1.6em;
	font-weight: 400;
	margin-top: 2em;
	line-height: 1.7;
}

/***** upload form *****/
.form-group{
	position: relative;
	border-bottom: solid #f1f1f1 1px;
}

.fileUpload input.upload {
	display: none;
}

.form-group .col-md-6{
	background-color: purple;
}

.form-group .col-md-12{
	padding: 15px;
}

.form-group.row {
	margin-bottom: 0;
}

.col-md-4 {
	padding: 0;
	padding-right: 15px;
	margin-bottom: 15px;
}

input{
	padding: 0;
	border: none;
}

label.fileUpload {
    float: right;
}

.browseTitle{
	font-size: 1.3em;
}

.browseTitle small{
	font-size: 0.6em;
}

.browseBtn{
	color: #fff;
	font-family: 'Cabin', sans-serif;
	font-size: 1.1em;	
	font-weight: 100;	
	background-color: #3b5998;
	padding: 0.8em 2em;
}

.previous{
	background-color: #c1c1c1;
	padding: 15px 0;
}

.previous h6{
	text-transform: uppercase;
}

.previous, .previous a{
	color: #fff;
	font-weight: normal;
}

::-webkit-input-placeholder { color: #3b5998; opacity: 1 !important; }
:-moz-placeholder { color: #3b5998;}
::-moz-placeholder {color: #3b5998;}
:-ms-input-placeholder {color: #3b5998;}

.box{
	padding: 0 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-4.col-md-offset-4 {
    padding: 0;
}

.submit{
	font-size: 20px;
	margin: 30px 0;
	width: 100%;
	height: 50px;
	
}

/***************************
****** Map page layuot ******
****************************/

.return{
	font-family: 'Robin', sans-serif;
	font-size: 1.6em;
	color: #3b5998;
}

.top{
	margin-top: 25px;
}

.mapTitle{
	margin-top: 0;
	margin-bottom: 20px;
}

/***************************
****** CSS changes ******
****************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	
    background-color: black;
	background-image: linear-gradient(#5b5858,#514f4f);
	box-shadow:0 2px 1px #9c9c9c;
	
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top: 80px;
	
}

.sidenav a {
	font-size: 18px;
   padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
	color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav ul li{
	 display: block; 
	box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

.sidenav li a:hover:not(.active) {
    background-color: #3b5998;
    background-image: linear-gradient(#597cc6, #1c47a0);
	color: white;
}

.sidenav li a.active {
    background-color: blue;
    color: orange;
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



